body {
    background-color: black;
}
div {
    color: red;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid red;
    padding: 30px 60px 80px 60px;
}
img {
    width: 250px;
}
h1 {
    font-family: Verdana;
    font-size: 26px;
    margin-top: 50px;
    margin-bottom: 50px;
}
p {
    font-family: Verdana;
    font-size: 18px;
    margin-bottom: 80px;
}
a {
    font-family: Verdana;
    font-size: 18px;
    text-decoration: none;
    background-color: #ff1415;
    color: #ffffff;
    padding: 15px 40px;
    border-radius: 50px; /* Deixa o contorno do elemento arredondado*/
}